@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url("https://fonts.googleapis.com/css?family=Roboto");

    *,
    html {
      margin: 0;
      padding: 0;
    }
    .cover {
        font-family: "Roboto", sans-serif;
        position: absolute;
        width: 100vw;
        height: 100vh;
        /* background-color: gray; */
        opacity: 0;
        /* make ' opacity : 1 ' to make it visible */
        z-index: 100;
        justify-content: center;
        background-image: url("box.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .covertext {
        justify-content: center;
        width: 100%;
    }
    .title {
        position: relative;
        top: 20%;
        font-size: 5rem;
        justify-content: center;
        width: 100%;
    }
    .startbtn, .howtobtn {
        margin-bottom: 3%;
        top: 40%;
        position: relative;
    }
    .cover button {
        all: unset;
        cursor: pointer;
        padding: 1%;
        background-color:#c9c5d1;
        box-shadow: 2px 3px 3px #041310;
        border-radius:10px;
    }
    .toparea {
        background-color: lightblue;
        height: 25vh;  
        text-align: center;
        font-family: 'Concert One', cursive;
    }
    .logo {
        background-color: skyblue;
        background-image: url("logo2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;  
    }
    .keycardtitle {
        height: 20%;
        width: 100%;
        justify-content: center;
        font-size: 2rem;
    }
    .keycardsbg {
        height: 85%;
        width: 100%;
        /* background-color: brown; */
    }
    .keycards {
        background-color: rgb(85, 143, 167);
        justify-content: center;
        height: 95%;
        width: 60%;
        margin: auto;
    }
    .keycard1 {
        background-color: rgb(43, 109, 43);
        background-image: url("cardkey2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .keycard2, .keycard4 {
        background-color: yellow;
    }
    .keycard5 {
        background-color:black;
    }
    .keycard {
        width: 17%;
    }
    .playericon {
        background-color: cornflowerblue;
        height: 50%;
        width: 50%;
    }
    .playertitle{
        margin-top: 5%;
        font-size: 1.5rem;
    }
    .playericon {
        width: 50%;
        height: 50%;
        background-color:cornflowerblue;
        margin-left: 25%;
        margin-top: 5%;
    }
    .playertitle{
        margin-top: 2%;
        font-size: 1.5rem;
    }
    .playericon {
        width: 50%;
        height: 50%;
        background-color:cornflowerblue;
        margin-left: 25%;
        margin-top: 5%;
    }
    .sidebar {
        position: relative;
        text-align: center;
        background-color: aquamarine;
        height: 100%;  
        width: 17%;  
        font-family: 'Concert One', cursive;
    }
    .stats {
        margin-top: 43px;
    }
    .timertoken {
        margin-top: 43px;
    }
    .gamearea {
        background-color: lightcoral;
        height: 60vh;  
        width: 100%; 
        margin-left: 0px;
        font-family: 'Concert One', cursive;
    }
    .gameareainput {
        background-color: lightgray;
        height: 15vh;
        width: 100%; 
        margin-left: 0px;
        font-family: 'Concert One', cursive;
        font-size: 1.2rem;
    }
    label {
        margin-top: 1.5%;
    }
    .cardset {
        justify-content: center;
        width: 100%;
        height: 18%;
    }
    .input {
        height: 16%; 
        width: 100%; 
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }
    input {
        border: 2px solid #60a3bc;
        text-align: center;
    }
    .output, .tokenvalue {
        border: 1px solid rgb(10, 65, 10);
        height: 50px;
        border-radius: 10px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    .card {
        text-align: center;
        margin: 1%;
        align-content: center;
        justify-content: center;
        width: 15%;
        height: 78%;
    }
    .word {
        font-size: 1.3rem;
    }
    .submit button {
        all: unset;
        cursor: pointer;
        padding: 5px;
        background-color:whitesmoke;
        box-shadow: 2px 3px 3px #041310;
        border-radius:10px;
    }
    .submitbtn:hover {
        background-color: #3b853b;
        cursor: pointer;
    }