@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url("https://fonts.googleapis.com/css?family=Roboto");

    *,
    html {
      margin: 0;
      padding: 0;
    }
    .cover {
        font-family: "Roboto", sans-serif;
        position: absolute;
        width: 100vw;
        height: 100vh;
        /* background-color: gray; */
        opacity: 1;
        /* make ' opacity : 1 ' to make it visible */
        z-index: 100;
        justify-content: center;
        background-image: url("images/box.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .allinput {
        top: 10%;
        text-align: center;
        padding-top: 7%;
    }
    .title {
        color : whitesmoke;
        font-family: 'Concert One', cursive;
        position: relative;
        top: 15%;
        text-shadow: 2px 2px 3px #0a3d62;
        font-size: 7rem;
        justify-content: center;
        width: 100%;
        animation: pop-in .7s ease-out forwards;
        height: 30%;
    }
    .nametext{
        color : whitesmoke;
        font-family: 'Concert One', cursive;
        text-shadow: 2px 2px 3px #0a3d62;
        font-size: 2rem;
    }
    .info {
        height: 60%;
    }
    .startbtn, .howtobtn {
        text-align: center;
        margin-bottom: 3%;
        top: 10%;
        position: relative;
        justify-content: center;
    }
    .covertext {
        height: 15%;
    }
    .cover button {
        all: unset;
        cursor: pointer;
        /* padding: 1%; */
        background-color:#c9c5d1;
        font-family: 'Concert One', cursive;
        box-shadow: 2px 3px 3px #041310;
        border-radius:10px;
        width: 50%;
        text-align: center;
        font-size: 1.8rem;
    }
    .toparea {
        background-color: lightblue;
        height: 25vh;  
        text-align: center;
        font-family: 'Concert One', cursive;
    }
    .logo {
        background-color: skyblue;
        background-image: url("images/logo2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;  
    }
    .keycardtitle {
        height: 20%;
        width: 100%;
        justify-content: center;
        font-size: 1.5rem;
    }
    .keycardsbg {
        height: 85%;
        width: 100%;
        background-image: url("images/cardkey3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5% 12%;
        border-radius: 10px;
        /* background-color: brown; */
    }
    .keycards {
        justify-content: center;
        height: 20%;
        width: 100%;
        margin: 0;
    }
    .keycard {
        width: 17%;
        height: 80%;
        background-color: yellow;
        margin: 1px;
        border-radius: 5px;
    }
    .playericon {
        background-color: cornflowerblue;
        height: 50%;
        width: 50%;
    }
    .playertitle{
        margin-top: 5%;
        font-size: 1.5rem;
    }
    .playericon {
        width: 50%;
        height: 50%;
        background-color:cornflowerblue;
        margin-left: 25%;
        margin-top: 5%;
    }
    .playertitle{
        margin-top: 2%;
        font-size: 1.5rem;
    }
    .playericon {
        width: 50%;
        height: 50%;
        background-color:cornflowerblue;
        margin-left: 25%;
        margin-top: 5%;
    }
    .sidebar {
        position: relative;
        text-align: center;
        background-color: aquamarine;
        height: 100%;  
        width: 17%;  
        font-family: 'Concert One', cursive;
    }
    .stats {
        margin-top: 43px;
    }
    .timertoken {
        margin-top: 43px;
    }
    .gamearea {
        background-color: lightcoral;
        height: 60vh;  
        width: 100%; 
        margin-left: 0px;
        font-family: 'Concert One', cursive;
    }
    .gameareainput {
        background-color: lightgray;
        height: 15vh;
        width: 100%; 
        margin-left: 0px;
        font-family: 'Concert One', cursive;
        font-size: 1.2rem;
    }
    label {
        margin-top: 1.5%;
    }
    .cardset {
        justify-content: center;
        width: 100%;
        height: 18%;
    }
    .cardback {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: green;  
        border-radius:5px;
        display: none;
        /* background-color/ display should change later */
    }
    .input {
        height: 16%; 
        width: 100%; 
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }
    input {
        border: 2px solid #60a3bc;
        text-align: center;
    }
    .output, .tokenvalue {
        border: 1px solid rgb(10, 65, 10);
        height: 50px;
        border-radius: 10px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
        background-color: azure;
    }
    .card {
        text-align: center;
        margin: 1%;
        align-content: center;
        justify-content: center;
        width: 15%;
        height: 78%;
    }
    .word {
        font-size: 1.3rem;
    }
    .submit button {
        all: unset;
        cursor: pointer;
        padding: 5px;
        background-color:whitesmoke;
        box-shadow: 2px 3px 3px #041310;
        border-radius:10px;
    }
    .submitbtn:hover {
        background-color: #3b853b;
        cursor: pointer;
    }

    @keyframes pop-in {
        0% {
          opacity: 0;
          transform: translateY(-4rem) scale(.8);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      