@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url("https://fonts.googleapis.com/css?family=Roboto");
    *,
    html {
      margin: 0;
      padding: 0;
    }
    .cover {
        font-family: "Roboto", sans-serif;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 400;
        justify-content: center;
        background-image: url("images/main.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .allinput {
        top: 10%;
        text-align: center;
        padding-top: 7%;
    }
    .title {
        color : whitesmoke;
        font-family: 'Concert One', cursive;
        position: relative;
        top: 15%;
        text-shadow: 2px 2px 3px #0a3d62;
        font-size: 7rem;
        justify-content: center;
        width: 100%;
        animation: pop-in .7s ease-out forwards;
        height: 30%;
    }
    .nametext{
        color : whitesmoke;
        font-family: 'Concert One', cursive;
        text-shadow: 2px 2px 3px #0a3d62;
        font-size: 2rem;
    }
    .info {
        height: 60%;
    }
    .player1btn, .player2btn, .howtobtn {
        text-align: center;
        margin-bottom: 3%;
        top: 10%;
        position: relative;
        justify-content: center;
    }
    .player2btn {
        margin-bottom: 12%;
    }
    .covertext {
        height: 15%;
    }
    a {
        all: unset;
    }
    .cover button {
        all: unset;
        cursor: pointer;
        background-color:#c9c5d1;
        font-family: 'Concert One', cursive;
        box-shadow: 2px 3px 3px #041310;
        border-radius:10px;
        width: 50%;
        text-align: center;
        font-size: 1.8rem;
    }
    .mainpage {
        background: radial-gradient(closest-side, yellow, rgb(103, 177, 43), green);
        width: 100%;
        height: 100%;
    }
    .toparea {
        height: 25vh;  
        text-align: center;
        font-family: 'Concert One', cursive;
    }
    .logo {
        background-image: url("images/logo2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;  
    }
    .keycardtitle {
        height: 20%;
        width: 100%;
        justify-content: center;
        font-size: 1.5rem;
    }
    .keycardsbg, .keycardset1, .keycardset2 {
        height: 85%;
        width: 100%;
        background-image: url("images/cardkey3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5% 12%;
        border-radius: 10px;
    }
    .keycards {
        justify-content: center;
        height: 20%;
        width: 100%;
        margin: 0;
    }
    .keycard {
        width: 17%;
        height: 80%;
        background-color: yellow;
        margin: 1px;
        border-radius: 5px;
    }
    .keycard5, .keycard7, .keycard23 { 
        background-color: black;
        border: 1px solid white;
    }
    .keycard2, .keycard4, .keycard6, .keycard8, .keycard10, .keycard17, .keycard19, .keycard20, .keycard25  {
        background-color: green;
    }
    .keycard2-5, .keycard2-6, .keycard2-19 {
        background-color: black;
        border: 1px solid white;
    }
    .keycard2-3, .keycard2-4, .keycard2-7, .keycard2-9, .keycard2-11, .keycard2-12, .keycard2-13, .keycard2-15, .keycard2-20  {
        background-color: green;
    }
    .playertitle{
        margin-top: 5%;
        font-size: 1.5rem;
    }
    .playertitle{
        margin-top: 2%;
        font-size: 1.5rem;
    }
    .playericon1, .playericon2 {
        padding: 0px;
        width: 50%;
        height: 50%;
        background-color:rgb(239, 243, 16);
        border-radius: 10px;
        margin-left: 25%;
        margin-top: 5%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .playerturn2, .playerturn1 {
        font-size : 1.5rem;
    }
    .sidebar {
        position: relative;
        text-align: center;
        background-color: #d1c8a0;
        height: 100%;  
        width: 17%;  
        font-family: 'Concert One', cursive;
        z-index: 300;
    }
    .stats {
        margin-top: 24px;
    }
    .timertoken {
        margin-top: 24px;
    }
    .gamearea {
        height: 60vh;  
        width: 100%; 
        margin-left: 0px;
        font-family: 'Concert One', cursive;
    }
    .gameareainput {
        background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
        height: 15vh;
        width: 100%; 
        margin-left: 0px;
        font-family: 'Concert One', cursive;
        font-size: 1.2rem;
    }
    label {
        margin-top: 1.5%;
    }
    .cardset {
        justify-content: center;
        width: 100%;
        height: 18%;
    }
    .winpic {
        width: 71%;
        height: 59%;
     }
    .cardback {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;  
        border-radius:5px;
        background-repeat: no-repeat;
       background-size: 100% 100%;
        opacity: 0.5;
    }
    .input {
        height: 16%; 
        width: 100%; 
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }
    input {
        border: 2px solid #60a3bc;
        text-align: center;
    }
    .output, .tokenvalue {
        border: 1px solid rgb(10, 65, 10);
        height: 50px;
        border-radius: 10px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
        background-color: azure;
    }
    .card {
        text-align: center;
        margin: 1%;
        align-content: center;
        justify-content: center;
        background-repeat: no-repeat;
       background-size: 100% 100%;
        width: 15%;
        height: 78%;
    }
    .word {
        font-size: 1.3rem;
    }
    .submit button {
        all: unset;
        cursor: pointer;
        padding: 5px;
        background-color:whitesmoke;
        box-shadow: 2px 3px 3px #041310;
        border-radius:10px;
    }
    .submitbtn:hover {
        background-color: #3b853b;
        cursor: pointer;
    }
    .modal{
        font-family: 'Concert One', cursive;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 50%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 3rem;
        border: 3px solid black;
        border-radius: 5px;
        background: white;
        box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
        z-index: 1000;
        display: none;
      }
      .modal2{
        text-align: center;
        font-family: 'Concert One', cursive;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 84%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 3rem;
        border: 3px solid black;
        border-radius: 5px;
        background: white;
        box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
        z-index: 1000;
        display: none;
      }
      .message {
        font-size: 2rem;
        margin-bottom: 1.6rem;
        margin-top: 0;
      }
      .retrybtn {
        margin-left: 25%;
        color:inherit;
        font-family:inherit;
        font-size: inherit;
        background: white;
        padding: 0.3rem 3.4rem;
        border: 3px solid black;
        margin-right: -0.4rem;
        margin-top: 1rem;
        box-shadow: 0 0 0 black;
        transition: all 0.2s;
      }
      .retrybtn:last-child {
        margin: 0;
      }
      .retrybtn:hover {
        box-shadow: 0.4rem 0.4rem 0 black;
        transform: translate(-0.4rem, -0.4rem);
      }
      .retrybtn:active {
        box-shadow: 0 0 0 black;
        transform: translate(0, 0);
      }
      .options {
        display: flex;
        margin-top: 17px;
        flex-direction: row;
        justify-content: space-between;
      }
    @keyframes pop-in {
        0% {
          opacity: 0;
          transform: translateY(-4rem) scale(.8);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
